body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Helvetica Neue", Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 20px 25px;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}

header img.logo {
  height: 50px;
}

nav a {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  font-size: 2vh;
  padding-bottom: 4px;
}

nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: width 0.3s ease-in-out;
}

nav a:hover::after {
  width: 100%;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding: 0 100px;
  z-index: 1;
  position: relative;
}

.hero-image {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.hero-image img {
  height: 80vh;
  object-fit: cover;
}
